body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4;
}

h1{
    font-style: italic;
    color: blueviolet;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

.box{
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

@media (max-width: 600px) {
    .box {
        padding: 10px;
        margin: 10px;
    }
}

form{
    
  max-width: 300px;
  margin: auto;
  display: grid;
  gap: 1rem;
  padding: 50px;
}

input{
    padding: 10px;
    background-color: rgb(161, 112, 206);
}

button{
    max-width: 100px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 30px;
}

footer{
    background-color: black;
    color: bisque;
    padding: 30px;
    margin-bottom: auto;
}
    